[Desktop Entry]
Icon=application-zip
Name=Ripcord_Win_0.4.29.zip
Type=Link
URL[$e]=file:$HOME/Downloads/Ripcord_Win_0.4.29.zip
X-KDE-LastOpenedWith=xarchiver
