[Desktop Entry]
Icon=image-png
Name=Screenshot Capture - 2024-03-14 - 22-15-49.png
Type=Link
URL[$e]=file:$HOME/Downloads/Screenshot Capture - 2024-03-14 - 22-15-49.png
X-KDE-LastOpenedWith=org.kde.kdialog
